/* TABLE OF CONTENT
    -------------------------------------------------- 

    1. NAVBAR
    2. SERVICE
    3. ABOUT US
    4. PORTFOLIO
    5. TEAM
    7. PROCESS
    9. FACTS
    10. CONTACT    
    11. FOOTER
    12. BORDERS
    13. RESPONSIVE CSS
     
    */

/* 1. Navbar
-------------- */

.navbar-inverse {
  background-color: #3B7EB5;
  -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.9);
}

/* 1.1 Top-slider
-------------------*/
#top-slider {
    background-color: #3B7EB5;
}

/* 2. Service
-------------- */
    
    #service {
	    background: #3B7EB5;
	    padding-bottom: 70px;
	    display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
	    z-index: 900;
	    text-align: center;
        border-top: 70px solid transparent;
        margin-top: -70px;
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
    }
    
    #service h1 {
	    color: #fff;
    }
    
    .service-col:hover {
	    background: #27496C;
	    color: #fff;
    }
    
    .service-col h4 {
	    color: #fff;
	}
    
    .service-col p {
	    color: #ffffff;
        opacity: 60%;
        font-size: 14px;
        font-family: monospace;
        text-align: left;
    }
    
     .service-col:hover p {
	    color: #fff;
    }
    
    .service-col:hover > div {
        background: #27496C;
        color: #fff;
    }
    
    .icon-wrench, .icon-mobile, .icon-desktop {
	    background-color: #27496C;
        color: #e67e22;
    }   

/* 3. About Us
-------------- */

    #about {
	    background: #27496C;
	    padding-bottom: 90px;
	    display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
	    z-index: 900;
/*
        -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.9);
	    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.9);
*/
        border-top: 70px solid transparent;
        margin-top: -70px;
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
    }
    
    #about h1 {
	    color: #fff;  
    }
    
    #about p {
	    color: #fff;
    }
    
    #skillbar h6 {
	    color: #fff !important;
    }

/* 4. Portfolio
-------------- */
    
    #portfolio {
	    background: #27496C;
	    padding-bottom: 70px;
	    display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
	    z-index: 900;
        border-top: 70px solid transparent;
        margin-top: -70px;
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
    }
    
    #portfolio h1 {
	    color: #fff;
    }
    
    .caption {
        color: #fff !important;
        background: rgba(39, 174, 96, 0.75);
    }
    
    .caption h5 {
        color: #27496C;
	    border-bottom: 1px solid #fff;
	}
    
/* 5. Team
-------------- */
    
    #team {
	    background: #3B7EB5;
	    padding-bottom: 70px;
	    display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
	    z-index: 900;
	    text-align: center;
        border-top: 70px solid transparent;
        margin-top: -70px;
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
    }
    
    #team h1 {
	    color: #fff;
    }
    .team:hover {
	    background-color: #27496C;
	    color: #fff;
    }
    
    .team h5 {
        color: #fff;
    }

    .job {
        color: #443e44 !important;
        border-bottom: 1px dashed #9e968f;
    }
    
    .team p {
	    color: #c1c1c1;
    }
    
    .team:hover p {
	    padding: 10px;
	    color: #fff;
    }
    
    .team a {
	    color: #c1c1c1;
    }
    
    .team:hover a {
	    color: #fff;
    }
    
    .member1, .member2, .member3, .member4 {
        color: #e67e22;
    }
    
    .team-member1:hover > div {
        color: #fff;
        border: 5px solid #e67e22;
    }
    .team-member2:hover > div {
        color: #fff;
        border: 5px solid #e67e22;
    }
    .team-member3:hover > div {
        color: #fff;
        border: 5px solid #e67e22;
    }
    .team-member4:hover > div {
        color: #fff;
        border: 5px solid #e67e22;
    }
    
    .icon-social {
        background: #fff;
        color: #000;
    }
    
    /* 6. Process
-------------- */
    
    #process {
	    background: #3B7EB5;
	    padding-bottom: 70px;
	    display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
	    z-index: 900;
        border-top: 70px solid transparent;
        margin-top: -70px;
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
    }
    
    #process h1 {
	    color: #fff;
    }
    
    .our-process { 
        background: #3B7EB5 url(../img/howWeDo/our-process-theme2.svg) no-repeat center; 
    }
    
    .process-con h5 {  
        font-family: sans-serif;
        color: white;
    }
    
    .process-img { 
        background-color: #27496C;
        color: #e67e22;
    }
    
    .process-img:hover {
	    background: #27496C;
	    color: #fff;
    }


/* 8. FACTS
-------------- */
    
    #facts {
/*	    background: #27496C url("../img/pattern_theme_1.svg") repeat;*/
	    padding-bottom: 70px;
	    display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
	    z-index: 900;
/*
	    -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.9);
	    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.9);
*/
        border-top: 70px solid transparent;
        margin-top: -70px;
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
    }
    
    #facts h1 {
	    color: #fff;
    }   
    
     /* Fun Facts */
    
    .fun-fact h5 {
	    color: #fff;
    }
    
    .fun-fact h3 {
	    color: #fff;
    }
    
    .fun-fact p {
	    color: #c1c1c1;
	    font-size: 60px;
    }
    
    .fun-fact:hover p {
	    color: #e67e22;
    }   
       
/* 9. Contact
-------------- */
   
    #contact {
/*        background: #27496C url("../img/pattern_theme_1.svg") repeat;*/
	    background: #27496C;
	    padding-bottom: 100px;
	    display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
	    z-index: 900;
/*
	    -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.9);
	    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.9);
*/
         border-top: 70px solid transparent;
        margin-top: -70px;
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
    }
    
    #contact h1 {
	    color: #fff;
    }
    
    .requi {
	    color: #fff;
    }
    
/* 10. Footer
-------------- */
    
    #foot {
	    background: #3B7EB5;
	    padding: 10px 0px ;
	    display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
	    z-index: 900;
	    -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.9);
	    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.9);
    }
    
    .bottom-con h5 {
	    color: #fff;
    }
    
    .bottom-con p {
        padding-left: 30%;
	    text-align: left;
	    color: #fff;
    }
    
    .footer a:hover {
	    color: #e67e22;
    }
    
    /* GOING UP ARROW */
    
    .up {
	    background: #27496C;
    }
    
    .up span:hover {
		color: #fff ;
	}
	
	.up span {
	    color: #ccc;
	}
	
/* 11. Borders
-------------- */

    .head-border-white {
	    background: #fff;
    }
    
    .head-border-grey {
	    background: #443e44;
    }	

/* 12. General
-------------- */
 
    .head p {
	    color: #fff;
    }
    
    @media only screen and (max-width: 767px) {
	    
	.our-process { 
       background: #3B7EB5 url(../img/howWeDo/our-process-theme2-mobil.svg) no-repeat center top; 
       min-height: 1200px;
       margin-bottom: 100px;
    }
    
    .process-con h5 {  
       background: #3B7EB5; 
    }
    
    }